.favs-title {
    max-width: 500px;
    margin: auto;
    font-size: larger;
}

.contentcontainer {
    padding: 10px;
    border: 5px solid black;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-size: large;
}

.header {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

.searchandbuttons {
    text-align: center;
}

.alert {
    text-align: center;
    max-width: 500px;
    position: absolute;
    left: 40%;
    top: 50%;
}

.nocomments {
    padding: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.commentscontainer {
    float: right;
}