.favs-title {
    max-width: 500px;
    margin: auto;
    font-size: larger;
}

.content {
    padding: 10px;
    border: 5px solid black;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-size: large;
}